@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
        /* align-items: flex-start; */
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {

    border: 2px solid #35317a;
    padding: 8px;
    text-align: left;
  }
  
  .results {
    margin-right: 20px !important; 
  
  }

  .linha-table {
    display: none;
    margin: 1px;
  }

footer {
    font-size: 10px;
    padding: 20px 15px 5px 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #0a0a0a;
}

footer h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}

footer .copyright {
    text-align: center;
}
h1 {
    text-align: center;
}

.btn {
    background-color: #35317a;
    border: 2px solid #35317a;
    border-radius: 5px;
    color: #FFF;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    transition-duration: 0.2s;
    cursor: pointer;
}

.btn:hover {
    background-color: #ffffff;
    color: #35317a;
    border: 2px solid #35317a;
}

.input-text {
    border: 2px solid #35317a;
    border-radius: 4px;
    padding-left: 10px;
}