@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-indigo {
    background-color: #35317a !important;
}

#nav a {
    color: #fff;
}

.navbar-nav>a {
    color: #fff;
    margin-left: 40px;
}

.nav-link>i {
    margin-right: 5px;
}

.navbar-logo{
    margin-left: 40px;
}

.logo {
    width: 45px;
    height: 40px;

}


.btn {
    background-color: #35317a;
    border: 2px solid #35317a;
    border-radius: 5px;
    color: #FFF;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    transition-duration: 0.2s;
    cursor: pointer;
}

.btn:hover {
    background-color: #ffffff;
    color: #35317a;
    border: 2px solid #35317a;
}

.input-text {
    width: 400px;
    border: 2px solid #35317a;
    border-radius: 4px;
    padding-left: 10px;
}

.section {
    padding: 20px;
}


.text-home {
    text-align: justify;
}



footer {
    font-size: 11px;
    padding: 20px 15px 5px 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #0a0a0a;
}

footer .copyright {
    text-align: center;
}

/*
.change {
    display: block;
}

.change .bar {
    background-color: white;
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
    width: 550px;
    height: 110%;
    transform: translate(-60%, -30%);
}


.btn {
    background-color: #35317a;
    border: 1px solid #35317a;
    border-radius: 5px;
    color: #FFF;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn:hover {
    background-color: #ebeaea;
    color: #35317a;
    border: 1px solid #35317a;
}

.input-text {
    border: 2px solid #35317a;
    border-radius: 4px;
    padding-left: 10px;
}

.section {
    padding: 20px;
}

.main p {
    text-align: justify;
    margin-top: 15px;
    font-size: 14px;
}

.main h1 {
    font-size: 20px;
    margin-top: 5px;
}

#sidebar_content {
    padding: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active {
    background-color: #35317a;
}

.side-item:hover:not(.active) {
    background-color: #e3e9f7;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
}

.side-item.active a {
    color: #e3e9f7;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}


#open_btn {
    position: absolute;
    top: 30px;
    right: -12px;
    background-color: #35317a;
    color: #e3e9f7;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}

footer {
    font-size: 10px;
    padding: 20px 15px 5px 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #0a0a0a;
}

footer h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}

footer .copyright {
    text-align: center;
}


@media (min-width: 521px) and (max-width: 767px) {}

@media (min-width: 768px) and (max-width: 1023px) {
    .main h1 {
        font-size: 40px;
    }

    .main p {
        font-size: 22px;
        padding: 50px;
    }

    .password-length h4, .settings h4{
        font-size: 30px;
    }

    .settings label {
        font-size: 22px;
    }

    input[type="checkbox"] {
        height: 20px;
        width: 20px;
    }

    .input-text {
        width: 450px;
        height: 50px;
    }
}

@media (min-width: 1024px) and (max-width: 2200px) {
    .main h1 {
        font-size: 40px;
    }

    .main p {
        font-size: 22px;
        padding: 50px;
    }

    .password-length h4, .settings h4{
        margin-bottom: 15px;
        font-size: 20px;
    }

    .settings label {
        font-size: 18px;
    }

    input[type="checkbox"] {
        height: 20px;
        width: 20px;
    }

    .input-text {
        width: 550px;
        height: 50px;
    }
}

*/