@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Reddit Mono", sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #e3e9f7;
}

main {
    width: calc(100% - 82px);
}

.main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.btn {
    background-color: #35317a;
    border: 1px solid #35317a;
    border-radius: 5px;
    color: #FFF;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn:hover {
    background-color: #ebeaea;
    color: #35317a;
    border: 1px solid #35317a;
}

.input-text {
    width: 500px;
    height: 40px;
    border: 2px solid #35317a;
    border-radius: 4px;
    padding-left: 10px;
}

.section {
    padding: 20px;
}

.main p {
    text-align: justify;
    width: 75%;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: fixed;
    right: 0;
    transition: all .5s;
    min-width: 82px;
    z-index: 2;
}

#sidebar_content {
    padding: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active {
    background-color: #35317a;
}

.side-item:hover:not(.active) {
    background-color: #e3e9f7;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
}

.side-item.active a {
    color: #e3e9f7;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}


#open_btn {
    position: absolute;
    top: 30px;
    left: -12px;
    background-color: #35317a;
    color: #e3e9f7;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}

footer {
    font-size: 12px;
    padding: 20px 50px 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    text-decoration: none;
}

footer h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}

footer .copyright {
    text-align: center;
}